{% extends 'base.html' %}
{% load static %}
{% block link %}
<script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src=  
"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src=  
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  
    
    <link href=  
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />  

        
{% endblock %}

{% block content %}





<script>
  $( function() {
  var availableTags = [
    {% for product in products %}
      "{{product.title}}",
      
    {% endfor %}
  ];
  $( "#tags" ).autocomplete({
    source: "{% url 'autosuggest' %}",
    
  });
  });
</script>




 <div class="container">


  <nav class="breadcrumbs " style="width:100%; margin-top: 1rem; margin-bottom: 2rem; font-size: 0.8rem;"  >
    <a href="{% url 'frontpage' %}" class="breadcrumbs__item">Home</a>
    <a href="{% url 'frontpage' %}" class="breadcrumbs__item">Shop</a> 
  
    {% if product.category.parent %}
    <a href="{% url 'category_detail' product.category.parent.slug %}" class="breadcrumbs__item"  style="color: var(--title-color);">{{ product.category.parent.title }}</a>
   {% endif %}
   <a href="{% url 'category_detail' product.category.slug %}" class="breadcrumbs__item" style="color: var(--title-color);">{{ product.category.title }}</a>
   <a class="breadcrumbs__item is-active"  href="{% url 'product_detail' product.category.slug product.slug %}"  style="color: var(--title-color);">{{ product.title }}</a>
   
   
  </nav>
</div>



    

    <!--
      - PRODUCT
    -->

    <div class="product-container">

      <div class="container">


        <!--
          - SIDEBAR
        -->
        <div class="sidebar  has-scrollbar" data-mobile-menu>

          <div class="sidebar-category">

            <div class="sidebar-top">
              <h2 class="sidebar-title">Category</h2>

              <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                <ion-icon name="close-outline"></ion-icon>
              </button>
            </div>

            <ul class="sidebar-menu-category-list">

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="{% static 'assets/images/icons/iphones.svg' %}" alt="Phones" width="20" height="20"
                      class="menu-title-img">

                    <p class="menu-title">Phones</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Samsung</p>
                      <data value="300" class="stock" title="Available Stock">300</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Htc</p>
                      <data value="60" class="stock" title="Available Stock">60</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Techno</p>
                      <data value="50" class="stock" title="Available Stock">50</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">xiaomi</p>
                      <data value="87" class="stock" title="Available Stock">87</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="{% static 'assets/images/icons/laptop.svg' %}" alt="laptop" class="menu-title-img" width="20"
                      height="20">

                    <p class="menu-title">Laptops</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Apple</p>
                      <data value="45" class="stock" title="Available Stock">45</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Hp</p>
                      <data value="75" class="stock" title="Available Stock">75</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Alienware</p>
                      <data value="35" class="stock" title="Available Stock">35</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">LG</p>
                      <data value="26" class="stock" title="Available Stock">26</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="{% static 'assets/images/icons/gamepad.svg' %}" alt="gamepad" class="menu-title-img" width="20"
                      height="20">

                    <p class="menu-title">Accessories</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Earphones</p>
                      <data value="46" class="stock" title="Available Stock">46</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Screen</p>
                      <data value="73" class="stock" title="Available Stock">73</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Ports</p>
                      <data value="61" class="stock" title="Available Stock">61</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="{% static 'assets/images/icons/drone.svg' %}" alt="drones" class="menu-title-img" width="20"
                      height="20">

                    <p class="menu-title">Drones</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Mavic</p>
                      <data value="12" class="stock" title="Available Stock">12 pcs</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Espcopter</p>
                      <data value="60" class="stock" title="Available Stock">60 pcs</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Hp</p>
                      <data value="50" class="stock" title="Available Stock">50 pcs</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Tools</p>
                      <data value="87" class="stock" title="Available Stock">87 pcs</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="{% static 'assets/images/icons/tools.svg' %}" alt="tools" class="menu-title-img" width="20"
                      height="20">

                    <p class="menu-title">Tools</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">pin</p>
                      <data value="68" class="stock" title="Available Stock">68</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">solder</p>
                      <data value="46" class="stock" title="Available Stock">46</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">charger</p>
                      <data value="23" class="stock" title="Available Stock">23</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="{% static 'assets/images/icons/gameconsole.svg' %}" alt="gameconsole" class="menu-title-img" width="20"
                      height="20">

                    <p class="menu-title">Game consoles </p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Playstation</p>
                      <data value="50" class="stock" title="Available Stock">50</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Heroku</p>
                      <data value="48" class="stock" title="Available Stock">48</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="{% static 'assets/images/icons/console.svg' %}" alt="console" class="menu-title-img" width="20" height="20">

                    <p class="menu-title">consoles</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Hardrives</p>
                      <data value="62" class="stock" title="Available Stock">62</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">RAM</p>
                      <data value="35" class="stock" title="Available Stock">35</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">flashdrive</p>
                      <data value="80" class="stock" title="Available Stock">80</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">memorycards</p>
                      <data value="75" class="stock" title="Available Stock">75</data>
                    </a>
                  </li>

                </ul>

              </li>

            </ul>

          </div>

      
        </div>
      




        <div>
                
            <div class="product-details ptb-100 pb-90 " id="productapp">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product-details-btn">
                                <a href="#"><i class="ion-arrow-left-c"></i></a>
                                <a class="active" href="#"><i class="ion-arrow-right-c"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-7 col-12">
                            <div class="product-details-img-content">
                                <div class="product-details-tab mr-70">
                                    <div class="product-details-large tab-content">
                                        <div class="tab-pane active show fade" id="pro-details1" role="tabpanel">
                                            <div class="easyzoom easyzoom--overlay">
                                                <a href="assets/images/product-details/bl1.jpg">
                                                    <img :src="mainImage">
                                                </a>
                                            </div>
                                        </div>
                                    
                                      </div>
                                    <div class="product-details-small nav mt-12 main-product-details" role=tablist>
                                        {% if product.images.all %}
                                        <div v-for="image in images" >
                                        <a class="active mr-12" href="#pro-details1" data-toggle="tab" role="tab" aria-selected="true">
                                            <img :src="image.thumbnail" @click="changeMainImage(image.image)">
                                        </a>
                                    </div>
                                        {% endif %}
                                        
       
        
   
                             
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5 col-12">
                            <div class="product-details-content">
                                <h3>{{ product.title }}</h3>
                                
                                
                                <div class="rating-number">
                                    <div class="showcase-rating">
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star-outline"></ion-icon>
                                        <ion-icon name="star-outline"></ion-icon>
        
                                        <div class="quick-view-number">
                                            <span>({% if product.get_rating == 0 %}0{% else %}{{ product.get_rating|floatformat:1 }}{% endif %} Review)</span>

                                        </div>
                                      </div>
            
                                   
                                </div>
                                <div class="details-price">
                                    <span >${{ product.price}}</span>
                                </div>
                                <div class="quick-view-select">
                                    <div class="select-option-part">
                                        <label>Size*</label>
                                        <select class="select">
                                            <option value="">- Please Select -</option>
                                            <option value="">xl</option>
                                            <option value="">ml</option>
                                            <option value="">m</option>
                                            <option value="">sl</option>
                                        </select>
                                    </div>
                                    <div class="select-option-part">
                                        <label>Color*</label>
                                        <select class="select">
                                            <option value="">- Please Select -</option>
                                            <option value="">orange</option>
                                            <option value="">pink</option>
                                            <option value="">yellow</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="quickview-plus-minus">
                                    <div class="cart-plus-minus">
                                        <p type="text" value="1" name="qtybutton" class="cart-plus-minus-box">1</p>
                                    </div>
                                    <div class="quickview-btn-cart">
                                        {% if product.in_cart %}
                                        <button class="btn btn-primary" style="width: 30vh; height: 40px; background:linear-gradient(270deg,#ff5f3b,#ff1f00);">Already In Cart!</button>
                                    {% else %}
                                        {% if product.num_available > 0 %}
                                        <button @click="addToCart({{ product.id }})" id="b3" class="btn btn-primary" style="width: 30vh; height: 40px; background:linear-gradient(270deg,#ff5f3b,#ff1f00); text-align: center;">ADD TO CART</button>    
                                         {% else %}
                                        <p>The product is out of stock!</p>
                                    {% endif %}
                                    {% endif %}
                                    
                                       
                                    </div>
                                    
        
                                </div>
                                <div class="product-categories product-cat-tag">
                                    <ul>
                                        <li class="categories-title">Categories :</li>
                                        <li><a href="{% url 'category_detail' product.category.slug %}">{{ product.category.title }}</a></li>
                                        <li><a href="{% url 'product_detail' product.category.slug product.slug %}">{{ product.title }}</a></li>
                                    </ul>
                                </div>
                                <div class="product-tags product-cat-tag">
                                    <ul>
                                        <li class="categories-title">Tags :</li>
                                        <li><a href="{% url 'category_detail' product.category.slug %}">{{ product.category.title }}</a></li>
                                        <li><a href="{% url 'product_detail' product.category.slug product.slug %}">{{ product.title }}</a></li>
                                    </ul>
                                </div>
                                <div class="product-share">
                                    <ul>
                                        <li class="categories-title">Share :</li>
                                        <li>
                                            <a href="#">
                                                <i class='bx bxl-facebook' ></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class='bx bxl-twitter'></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class='bx bxl-whatsapp' ></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class='bx bxl-instagram'></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            






            <div class="product-description-review-area  container pb-100">
                <div class="container mt-3">
    

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">Description</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu1">Reviews</a>
                      </li>
                    </ul>
                  
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div id="home" class="container tab-pane active"><br>
                        <h6>product Specifications</h6>
                        <hr>
                        {% if product.description %}
                        <p>{{ product.description|linebreaks }}</p>
                        {% endif %}     
                     </div>

                      <div id="menu1"id="review" class=" tab-pane fade"><br>
                        
                            <h6>{% if product.get_rating == 0 %}0{% else %}{{ product.get_rating|floatformat:1 }}{% endif %} Review for {{ product.title}}</h6>
                <hr>
                                  {% for review in product.reviews.all %}
                        
                            <div  >
                                <div class="review-tab">
                                      <div>
                                     
                                     <h6 class='bx bxs-user-circle'>{{review.user}} <span><i>{{ review.date_added|date:"Y-m-d" }}</i></span></h6>
                                     </div>
                                     ({{ review.stars }} stars)
                                </div>                      
                                    <p style="color: var(--text-color);">{{ review.content }}</p>  
                            </div>
                            <style>
                                .tab-pane .review-tab{
                                    display: flex;
                                    font-weight: bold;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    color: #633305;
                                }
                            </style>
                
                            
                        <hr>
                        {% empty %}
                           <h6> No reviews yet!</h6>
                        {% endfor %}

                      <div class="mt4"><h6> Add a Review</h6></div>
                                {% if request.user.is_authenticated %}
                                <form method="post" action=".">
                                    {% csrf_token %}                      
    
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Username:</label>
                                            <input type="text"  name="person" class="form-control" id="exampleFormControlInput1" placeholder="jane doe">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Rate us:</label>
                                            <select name="stars" class="form-control" id="exampleFormControlSelect1" style="color: #f68B1E;">
                                                <option value=" 1">
                                                    &#9733;&#9734;&#9734;&#9734;&#9734;</option>
                                                <option value="2">
                                                    &#9733; &#9733;  &#9734;&#9734;&#9734;</option>
                                                <option value="3" selected>
                                                    &#9733; &#9733; &#9733;&#9734;&#9734;</option>
                                                <option value="4">
                                                    &#9733; &#9733; &#9733; &#9733;&#9734;</option>
                                                <option value=" 5">
                                                    &#9733; &#9733; &#9733; &#9733; &#9733;</option>
                                                    
                                            </select>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Comment:</label>
                                            <textarea class="form-control form-submit" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            <br><input type="submit" value="Submit" style="color: #fff; background-color: #f68B1E;" >
                                        </div>
                                        
                                </form>
                                {% else %}
                                <p>Please <a href="{% url 'login' %}">sign in </a>to add review!</p>
                                {% endif %}
                            
                            

                            
                        </div>        
        
                  
                    </div>
                  </div>
            </div>
        
        
        
                <div  style="margin-bottom: 2px; margin-top: 2rem;">
                  
                <header class="row" style="color:#000; font-size: 0.4rem; font-weight: 90; width: 100%; margin-top: 1px;  justify-content: center;">
                   
                    <div class="flash "><h4>Related products </h4></div>
                     
                      </header>
                    </div>
              
                    <div class="product-main">
                        <div class="product-grid" style="position: relative;">
                          {% with related_products as list_products %}
                                {% include 'parts/product_list.html' %}
                            {% endwith %}
            
            
                          
                        </div>
                       
                      </div>
        
        </div>
        
           
        </div>
</div>





{% endblock %}

{% block scripts %}
<script>
    var productapp = new Vue({
        el: '#productapp',
        delimeters: ['[[', ']]'],
        store: store,
        data () {
            return {
                showMessage: false,
                mainImage: '{{ product.image.url }}',
                images: [{{ imagesstring|safe }}]
            }
        },
        mounted() {
            console.log('Mounted');
        },
        methods: {
            changeMainImage(image) {
                this.mainImage = image;
            },
            addToCart(product_id) {
                console.log('Product_id:', product_id);

                var data = {
                    'product_id': product_id, 
                    'update': false,
                    'quantity': 1
                };
                    
                fetch('/api/add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response)

                    this.showMessage = true

                    store.commit('increment', 1);

                    setTimeout(() => {
                        this.showMessage = false
                    }, 2000)
                })
                .catch(function (error) {
                    console.log('Error 2');
                    console.log(error);
                })
            }
        }
    });
</script>
<script>
                                        
    document.getElementById('b3').onclick = function(){
        swal("Yay!", "Your product has been added to cart!", "success");

    };
 </script>


 	     
             
{% endblock %}