
{% extends 'base.html' %}
{% load static %}
{% block link %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
    a { text-decoration: none; }
    .swal-icon img{
   margin-left: 44%;
  width: 60px;
  height: 60px;
  
}
</style>
<script src=  
"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src=  
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  
    
    <link href=  
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />  

        
{% endblock %}

{% block content %}





<script>
  $( function() {
  var availableTags = [
    {% for product in products %}
      "{{product.title}}",
      
    {% endfor %}
  ];
  $( "#tags" ).autocomplete({
    source: "{% url 'autosuggest' %}",
    
  });
  });
</script>


<style>
    .sidebar {
      display: block;
    }
  </style>
    <!--
      - PRODUCT
    -->
    <div class="container">


      <nav class="breadcrumbs " style="width:100%; margin-top: 1rem; margin-bottom: 2rem; font-size: 0.8rem;"  >
        <a href="{% url 'frontpage' %}" class="breadcrumbs__item">Home</a>
        <a href="#" class="breadcrumbs__item is-active" style="color: var(--title-color);">Shop</a>
        
       
      </nav>
    </div>
    
    <div class="category">
      <div class="flashsale-container">
        <div class="container" style="margin-bottom: 2px; " >
        <header class="" style="color:#FFFFFF;text-align: center; padding: 1rem;  font-weight: 70; width: 100%;  background:linear-gradient(270deg,#1f1d1d,#46403f); justify-content: center;"> 
            <div class=" "><h3 >Shop by category </h3></div>
              </header>
            </div>
      </div>

      <div class="container" >
        

        <div class="category-item-container has-scrollbar" style="background-color:#f2f2f2 ">

          <!-- <div class="category-item"style="background-size: 100%; height: 4rem; background-image: url('{% static '/assets/images/icons/1.jpg' %}'); " ></div>
          <div class="category-item"style="background-size: 100%; height: 4rem; background-image: url('{% static '/assets/images/icons/4.jpg' %}'); " ></div>
          <div class="category-item"style="background-size: 100%; height: 4rem; background-image: url('{% static '/assets/images/icons/4.jpg' %}'); " ></div>
          <div class="category-item"style="background-size: 100%; height: 4rem; background-image: url('{% static '/assets/images/icons/1.jpg' %}'); " ></div>
          <div class="category-item"style="background-size: 100%; height: 4rem; background-image: url('{% static '/assets/images/icons/2.jpg' %}'); " ></div>
  -->
  
  <div class="category-item" style="color:#000; font-weight: bolder;"><img style="margin: 2%;" src="{% static 'assets/images/iphone13.jpg' %}"alt="Phones" width="25%" ><span style="text-align: right; margin-left: 20%;">Phones<br><span style="color: #eca291; font-size: smaller; font-weight: bold;">Shop Now ></span></span></div>
  <div class="category-item" style="color:#000; font-weight: bolder;"><img style="margin: 2%;" src="{% static 'assets/images/earpod.jpg' %}"alt="Phones" width="25%" ><span style="text-align: right; margin-left: 20%;">Acessories<br><span style="color: #eca291; font-size: smaller; font-weight: bold;">Shop Now ></span></span></div>
  <div class="category-item" style="color:#000; font-weight: bolder;"><img style="margin: 2%;" src="{% static 'assets/images/earpod.jpg' %}"alt="Phones" width="25%" ><span style="text-align: right; margin-left: 20%;">Laptops<br><span style="color: #eca291; font-size: smaller; font-weight: bold;">Shop Now ></span></span></div>
  <div class="category-item" style="color:#000; font-weight: bolder;"><img style="margin: 2%;" src="{% static 'assets/images/flashdrive.jpg' %}"alt="Phones" width="25%" ><span style="text-align: right; margin-left: 20%;">Tech<br><span style="color: #eca291; font-size: smaller; font-weight: bold;">Shop Now ></span></span></div>
  <div class="category-item" style="color:#000; font-weight: bolder;"><img style="margin: 2%;" src="{% static 'assets/images/flashdrive.jpg' %}"alt="Phones" width="25%" ><span style="text-align: right; margin-left: 20%;">Gadgets<br><span style="color: #eca291; font-size: smaller; font-weight: bold;">Shop Now ></span></span></div>




        </div>

      </div>

    </div>

    <div class="product-container">
      

      <div class="container">


        <!--
          - SIDEBAR
        -->
        <div class="sidebar  has-scrollbar" data-mobile-menu>

          <div class="sidebar-category">

            <div class="sidebar-top">
              <h2 class="sidebar-title">Category</h2>

              <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                <ion-icon name="close-outline"></ion-icon>
              </button>
            </div>

            <ul class="sidebar-menu-category-list">

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="{% static 'assets/images/icons/iphones.svg' %}" alt="Phones" width="20" height="20"
                      class="menu-title-img">

                    <p class="menu-title">Phones</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Samsung</p>
                      <data value="300" class="stock" title="Available Stock">300</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Htc</p>
                      <data value="60" class="stock" title="Available Stock">60</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Techno</p>
                      <data value="50" class="stock" title="Available Stock">50</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">xiaomi</p>
                      <data value="87" class="stock" title="Available Stock">87</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="{% static 'assets/images/icons/laptop.svg' %}" alt="laptop" class="menu-title-img" width="20"
                      height="20">

                    <p class="menu-title">Laptops</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Apple</p>
                      <data value="45" class="stock" title="Available Stock">45</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Hp</p>
                      <data value="75" class="stock" title="Available Stock">75</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Alienware</p>
                      <data value="35" class="stock" title="Available Stock">35</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">LG</p>
                      <data value="26" class="stock" title="Available Stock">26</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="{% static 'assets/images/icons/gamepad.svg' %}" alt="gamepad" class="menu-title-img" width="20"
                      height="20">

                    <p class="menu-title">Accessories</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Earphones</p>
                      <data value="46" class="stock" title="Available Stock">46</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Screen</p>
                      <data value="73" class="stock" title="Available Stock">73</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Ports</p>
                      <data value="61" class="stock" title="Available Stock">61</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="{% static 'assets/images/icons/drone.svg' %}" alt="drones" class="menu-title-img" width="20"
                      height="20">

                    <p class="menu-title">Drones</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Mavic</p>
                      <data value="12" class="stock" title="Available Stock">12 pcs</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Espcopter</p>
                      <data value="60" class="stock" title="Available Stock">60 pcs</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Hp</p>
                      <data value="50" class="stock" title="Available Stock">50 pcs</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Tools</p>
                      <data value="87" class="stock" title="Available Stock">87 pcs</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="{% static 'assets/images/icons/tools.svg' %}" alt="tools" class="menu-title-img" width="20"
                      height="20">

                    <p class="menu-title">Tools</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">pin</p>
                      <data value="68" class="stock" title="Available Stock">68</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">solder</p>
                      <data value="46" class="stock" title="Available Stock">46</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">charger</p>
                      <data value="23" class="stock" title="Available Stock">23</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="{% static 'assets/images/icons/gameconsole.svg' %}" alt="gameconsole" class="menu-title-img" width="20"
                      height="20">

                    <p class="menu-title">Game consoles </p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Playstation</p>
                      <data value="50" class="stock" title="Available Stock">50</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Heroku</p>
                      <data value="48" class="stock" title="Available Stock">48</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="{% static 'assets/images/icons/console.svg' %}" alt="console" class="menu-title-img" width="20" height="20">

                    <p class="menu-title">consoles</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Hardrives</p>
                      <data value="62" class="stock" title="Available Stock">62</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">RAM</p>
                      <data value="35" class="stock" title="Available Stock">35</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">flashdrive</p>
                      <data value="80" class="stock" title="Available Stock">80</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">memorycards</p>
                      <data value="75" class="stock" title="Available Stock">75</data>
                    </a>
                  </li>

                </ul>

              </li>

            </ul>

          </div>

      
        </div>
      
        <div class=" mt-2">
  
            <div class="row">
                <div class="product-main row mt-4">
                    <div class="product-grid" style="position: relative;">
                     
                {% with all_products as list_products %}
                {% include 'parts/product_list.html' %}
            {% endwith %} 
        </div></div>
                      
                    
                </div>
                
<div  class="text-center">
    {% if products.has_other_pages %}
    
      <ul class="pagination " >
        {% if products.has_previous %}
          <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in products.paginator.page_range %}
          {% if products.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if products.has_next %}
          <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
      
    {% endif %}
    </div>
    
            </div>   
        
    
        </div>

            
</div>


{% endblock %}




